{% extends 'base.html' %}
{% load static %}

{% block title %}
  Product Page
{% endblock title %}
 
{% block content %}
<div class="container py-5">
  <div class="row mt-5">
    <div class="col-10 mx-auto col-md-6 my-3">  
      <img src="{% static 'img/product-2.png' %}" alt="">
    </div>
    <div class="col-10 mx-auto col-md-6 my-3">
      <div>
        <h1 class="product-title">Phone name</h1>
        <h5 class="text-info font-italic mb-3">
          <span class="mr-1">$  </span>777
        </h5>
        <p class="product-description">Product Description</p>
        <p class="text-justify product-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda esse nulla expedita possimus repudiandae perferendis ea consequuntur deserunt nisi veniam, officia iste architecto iure aut soluta ullam voluptates consequatur libero?</p>
        <p class="text-justify product-text"><b>Out Of Stock</b></p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
  